@import "tailwindcss";

@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);


@theme {
  --font-inter: "Inter", sans-serif;
  --color-primary: #111b3c;
  --color-semi-dark: #162f63;
  --color-blue: #0f62fe;
  --color-sky: #7aa3cc;
  --color-gray: #90a1b9;
  --color-red: #fd244a;
  --color-success: #05df72;
  --color-info: #50a2ff;
  --color-warn: #ff8904;
  --color-error: #ff6467;
  --color-purple: #C27AFF;
  --color-graph-bg: #0f172b50;
  --color-borderColor: #2B7FFF20;
}

.progress-gradient {
  @apply bg-linear-to-r from-[#2B7FFF] to-[#00B8DB]
}
.graph-gradient {
  @apply bg-linear-to-b from-[#3b82f6cc] to-[#3b82f600]
}
.audio-gradient {
  @apply bg-linear-to-r from-[#ad46ff33] to-[#f6339a33]
}
.bg-main-gradient {
@apply bg-[linear-gradient(118.53deg,#020618_-34.38%,#162456_54.59%,#0F172B_143.57%)];
}

.color-card-bg {
@apply bg-[#0F172B50] border border-[#2B7FFF20]
}

.inset-shadow{
    box-shadow: inset 0 0 5px #d2eaff80,
                inset 0 0 10px #d2eaff80,
                inset 0 0 15px #d2eaff80,
                inset 0 0 20px #d2eaff80,
                0px 2px 3px #57b1ff1f,
                0px 5px 5px #57b1ff1f,
                0px 8px 8px #57b1ff1f,
                0px 10px 12px #57b1ff1f,
                0px 10px 20px #57b1ff1f,
                0px 12px 25px #57b1ff1f,
                0px 13px 50px #57b1ff1f,
                0px 30px 80px #57b1ff1f
}

